# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Serverless
.serverless/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# IDE
.vscode/
.idea/ 