# Configuración de la aplicación
SERVICE_NAME=biometric_flows_lambda
NODE_ENV=development

# URLs de APIs
JELOU_API_BASE=https://api.jelou.ai/v1
WORKFLOWS_API_BASE=https://workflows.jelou.ai/v1

# Autenticación y API Keys
JELOU_AUTH=Basic cFM1T2lrUUt2SFUzM1YyaUN2STdVc0NnTGtaTzZFOUY6VHl4ZXhsUl9EUk53MEV4LWd2ZmZZcldaUmhZc3U0amM1LU9MbU5PS2pkQXVRMlY2YW95WFEyVXAybVA3aUFhbg==
WORKFLOWS_API_KEY=9|dW7EBTcokrMHHqD7nXSQieLQ9MgKeAW101Y8p_qL
WORKFLOW_API_KEY=1438|5gfPs5iEeDXwbtxkTNzQYwyjOTFSrwlfAw3Io84i

# URLs de workflows específicos
WORKFLOW_URL=https://workflows.jelou.ai/v1/toolkits/850/tools/4403/execute?version=1.0.9-private
DOCUMENT_CHECK_URL=https://workflows.jelou.ai/v1/toolkits/850/tools/3231/execute?version=1.5.4-private
FACEMATCH_URL=https://workflows.jelou.ai/v1/toolkits/841/tools/3184/execute?version=private1.0.0

# Configuración de encriptación
AES_ALGORITHM=aes-128-gcm
PRIVATE_KEY=your-private-key-here
PRIVATE_KEY_PASSPHRASE=your-passphrase-here

# Configuración de HTTP
HTTP_OK_CODE=200
HTTP_BAD_REQUEST_CODE=200
HTTP_UNAUTHORIZED_CODE=200
HTTP_FORBIDDEN_CODE=200
HTTP_NOT_FOUND_CODE=200
HTTP_INTERNAL_ERROR_CODE=200
HTTP_MESSAGE_DECRYPTION_ERROR_CODE=200

# URLs de servicios externos
MINITOOLS_BASE64_URL=https://functions.jelou.ai/minitools/base64-to-image 